RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
AddType application/wasm .wasm
AddEncoding br .wasm
AddOutputFilterByType DEFLATE application/wasm